$header-color: #FFD166;
$body-color: #DB5461;
$section-background: ivory;

html *{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
    margin: 0 1em 0 1em;
    background-color: $body-color;
    justify-content: center;
}

header {
    width: 100%;
    padding: 0.5em;
    text-align: center;
    height: min-content;
    font-family: "Comic Sans MS";
    background-color: $header-color;
    span {
        color: red;
    }
}

section {
    background-color: $section-background;
    width: 45%;
    min-width: 400px;
    min-height: 300px;
    height: 65%;
    justify-content: space-evenly;
    border: 1px solid black;
    margin: 1em;

}

ul {
    display: block;
    list-style-type: none;
}

li {
    //width: 100%;
    height: max-content;
    padding: 0.25em 1em;
    background-color: rosybrown;
    border: 1px solid red;
    span {
        background-color: silver;
        &.stars {
            background-color: skyblue;
            float: right;
        }
    }
}

footer {
    height: 1em;
    width: 100%;
    background: red;
}